# Embedded C&C Infrastructure Lists
# Detects multiple hardcoded C2 addresses in binary
# Generic indicator for botnet, worm, RAT

composite_rules:
  - id: embedded-c2-list
    desc: Multiple hardcoded C2 IP addresses or distributed C2 infrastructure redundancy
    crit: notable
    conf: 0.85
    platforms: [all]
    for: [pe, elf, macho]
    attack: "T1043"
    mbc: "C0002"
    any:
      - id: micro-behaviors/comm/ip
    none:
      - id: metadata/signed/platform::apple

  - id: hardcoded-c2-infrastructure
    desc: Self-contained C2 with hardcoded addresses
    crit: suspicious
    conf: 0.8
    platforms: [all]
    for: [pe, elf, macho]
    attack: "T1043"
    mbc: "C0002"
    all:
      - id: embedded-c2-list
      - id: micro-behaviors/comm/tcp/connect

  - id: botnet-commander-pattern
    desc: Botnet commander with hardcoded infrastructure
    crit: notable
    conf: 0.9
    platforms: [all]
    for: [pe, elf, macho]
    attack: "T1043"
    mbc: "C0002"
    all:
      - id: embedded-c2-list
      - id: micro-behaviors/comm/socket/

